*/config/development
*/logs/log-*.php
!*/logs/index.html
*/cache/*
!*/cache/index.html
!*/cache/.htaccess

# supaya tidak naik ke github :)
# static/upload/* # izinkan untuk keperluan demo
app/logs/*
